.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title Link:hover,
.title Link:focus,
.title Link:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 10px;
  line-height: 48px;
  font-size: 48px;
  color:#FFF;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 28px;
  font-size: 22px;
  color:#FFF;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #88939E;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.button {
  background-color: #EE2D1C;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  border-radius: 20px;
  cursor: pointer;
  min-height: 55px;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #4CAF50;
}

.container {
  position: relative;
}

.image {
  position: relative;
  z-index: 1;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.7), #FFB1B5);
  z-index: 2;
  background-size: cover;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.space {
  flex: 5;
}
